---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
---

<DefaultFooter />
<!-- Anchor for `<link rel="expect" href="#footer" blocking="render">` in head.astro -->
<span id="footer" hidden aria-hidden="true"></span>
