<!-- Google tag (gtag.js) -->
<script type="application/javascript" async src="https://www.googletagmanager.com/gtag/js?id=G-T0FC3Y6PQX"></script>
<script type="application/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-T0FC3Y6PQX');

  const gaAck = localStorage.getItem("gaAck");
  if (gaAck !== 'true') {
    var bannerRoot = document.createElement( 'div' );
    bannerRoot.setAttribute('id', 'gaBanner');
    bannerRoot.setAttribute('style', 'border: 1px solid #CCC; padding: 15px 10px; background: white; color: black; text-align: center; position: fixed; z-index: 999; bottom: 0px; width: 100%;');
    bannerRoot.innerHTML = 'genkit.dev uses <a href="https://policies.google.com/technologies/cookies">cookies</a> from Google to deliver and enhance the quality of its services and to analyze traffic &nbsp;&nbsp;<button class="primary" onclick="document.genkitAckGaBanner()">I Understand</button>';
    document.body.appendChild(bannerRoot);
    document.genkitAckGaBanner = function() {
      localStorage.setItem("gaAck", 'true');
      document.getElementById('gaBanner').remove();
    }
    console.log('yoyo', !!document.genkitAckGaBanner);
  }
</script> 