<!-- Google tag (gtag.js) -->
<script
  type="application/javascript"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-T0FC3Y6PQX"></script>
<script type="application/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-T0FC3Y6PQX");

  const gaAck = localStorage.getItem("gaAck");
  if (gaAck !== "true") {
    var bannerRoot = document.createElement("div");
    bannerRoot.setAttribute("id", "gaBanner");
    bannerRoot.className =
      "flex justify-center fixed bottom-4 max-md:bottom-0 left-0 right-0";
    bannerRoot.innerHTML =
      '<div class="flex p-2 gap-x-4 max-md:rounded-none max-md:border-none max-md:border-t items-center bg-white dark:bg-black text-sm justify-center rounded-lg border border-black/20 dark:border-white/20"><div class="text-balance">This site uses <a href="https://policies.google.com/technologies/cookies" target="_blank" class="text-black dark:text-white">cookies</a> from Google to deliver and enhance the quality of its services and to analyze traffic.</div> <button class="text-accent py-1 px-2 rounded no-wrap bg-white dark:bg-black border border-black/30 dark:border-white/30" onclick="document.genkitAckGaBanner()">I&nbsp;Understand</button></div>';
    document.body.appendChild(bannerRoot);
    document.genkitAckGaBanner = function () {
      localStorage.setItem("gaAck", "true");
      document.getElementById("gaBanner").remove();
    };
  }
</script>
