---
import Default from '@astrojs/starlight/components/Head.astro';

const { title } = Astro.locals.starlightRoute.entry.data;
const id = Astro.locals.starlightRoute.entry["id"];
const { head } = Astro.locals.starlightRoute;

let finalTitle = title;
if (id.startsWith('go/')) {
    finalTitle = title + ' - Go - Genkit';
}
if (id.startsWith('python/')) {
    finalTitle = title + ' - Python - Genkit' ;
}
if (id.startsWith('docs/')) {
    finalTitle = title + ' - JS - Genkit';
}
---
<title>{finalTitle}</title>
{head.filter(({ tag }) => tag !== 'title').map(({ tag: Tag, attrs, content }) => <Tag {...attrs} set:html={content} />)}
