@font-face {
  font-family: '0xProto';
  /* Use a relative path to the local font file in `url()`. */
  src: url('./0xProto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}