---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { marked } from 'marked';

interface Release {
  name: string;
  html_url: string;
  published_at: string;
  body: string;
}

const response = await fetch('https://api.github.com/repos/firebase/genkit/releases');
const releases: Release[] = await response.json();
---

<StarlightPage frontmatter={{ title: 'Changelog' }}>
  <ul>
    {
      releases.map((release) => (
        <li>
          <a href={`/releases/${release.name.replace(/ /g, '_')}`}>
            {release.name} ({new Date(release.published_at).toLocaleDateString()})
          </a>
        </li>
      ))
    }
  </ul>
</StarlightPage>
