---
import { Icon } from "@astrojs/starlight/components";
---

<!-- notice here, the key rule is `[&_svg]:open:-rotate-180` -->
<details class="!border rounded-xl border-gray-200 dark:border-gray-700 p-4">
  <!-- notice here, we have disabled the summary's default triangle/arrow -->

  <summary class="not-content !flex items-center text-sm">
    <div>
      <!-- notice here, we added our own triangle/arrow svg -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-bot-icon lucide-bot mt-1 mr-2"
        ><path d="M12 8V4H8"></path><rect
          width="16"
          height="12"
          x="4"
          y="8"
          rx="2"></rect><path d="M2 14h2"></path><path d="M20 14h2"></path><path
          d="M15 13v2"></path><path d="M9 13v2"></path></svg
      >
    </div>
    <div><b>TL;DR:</b> display the LLM-friendly summary of this page.</div>
  </summary>

  <div class="sl-markdown-content">
    <slot />
  </div>
</details>
