---
import CopyMarkdownButton from './CopyMarkdownButton.astro';
---

<div class="doc-page-title">
  <h1 id="_top">{Astro.locals.starlightRoute.entry.data.title}</h1>
  <CopyMarkdownButton class="title-copy-button" />
</div>

<style>
  @layer starlight.core {
    .doc-page-title {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    .doc-page-title h1 {
      margin: 0;
      font-size: var(--sl-text-h1);
      line-height: var(--sl-line-height-headings);
      font-weight: 600;
      color: var(--sl-color-white);
    }

    @media (max-width: 50rem) {
      .doc-page-title {
        align-items: flex-start;
      }
    }
  }
</style>
